@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Russo+One&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  color: #FEE715FF;
  background-color: black;
}

/* headings and logo */

h1, h2 {
  font-family: Russo One, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FEE715FF;
}

#logo {
  float: left;
  font-size: 400%;
}

/* navigation links */

#menu {
  font-size: 150%;
  letter-spacing: 2px;
}


#menu, #logo {
  line-height: 90px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #36454f;
}

.active {
  border-bottom: 1px solid #36454f;
}

/* fight glove image and cover text */

#fight-glove-outer {
  height: 800px;
  width: 100%;
  overflow: visible;
  }

#cover-text, #cover-text h2 {
    color: #FEE715FF;
}

#fight-glove {
  height: 800px;
  width: 100%;
  background: url('../../images/fight-glove.jpg') no-repeat center center;
  background-size: cover; 

  /* enlivens page load with zoom animation */
  animation-name: fight-glove-zoom;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

/* level of zoom for fight glove image */

@keyframes fight-glove-zoom {
  from {
    transform: scale(1.1);
  }
  to{
    transform: scale(1);
  }
}

/* cover text */

#cover-text {
  font-size: 180%;
  font-family: Russo One, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;

  width: 400px;
  height: 180px;

  padding-top: 30px;
  padding-left: 30px;

  background-color: rgba(0, 0, 0, 0.627);

  bottom: 30px;
  left: 100px;

  position: absolute;
}

/* fight glove h2 and paragraph */

#why-fightglove {
  text-align: center;
  margin: 20px 0;
  font-size: 140%;

  padding-bottom: 20px;
}

#why-fightglove p {
  padding: 20px;
  text-align: justify;
}

.left{
  width: 45%;
  float: left;
  color: orange; 
 }
  
  .right{
  width: 45%;
  float: right;
  color: orange;  
}

 /* footer */

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #FEE715FF;
}

/* boxing image */

#boxing-outer {
  height: 800px;
  width: 100%;
  overflow: visible;
  }

#boxing {
  height: 1100px;
  width: 100%;
  background: url('../../images/boxing.jpg') no-repeat center center;
  background-size: cover; 

  /* enlivens page load with zoom animation */

  animation-name: fight-glove-zoom;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

/* level of zoom for boxing image */

@keyframes boxing-zoom {
  from {
    transform: scale(1.1);
  }
  to{
    transform: scale(1);
  }
}
/* cover text 2 */

#cover-text2 {
  font-size: 70%;
  font-family: Russo One, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;

  width: 600px;
  height: 290px;

  padding-top: 15px;
  padding-left: 15px;

  background-color: rgba(0, 0, 0, 0.627);

  bottom: 15px;
  left: 40px;

  position: absolute; 
}

#cover-text2 h2 {
  color: orange;
}

  /* cover text 3 */

.cover-text3 {
  font-size: 100%;
  font-family: Russo One, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  width: 450px;
  height: 410px;
  
  padding-top: 10px;
  padding-left: 20px;
  
  color: #FEE715FF;
  background-color: rgba(0, 0, 0, 0.627);
  
  top: 150px;
  right: 40px;
  
  position: absolute; 
}

.cover-text3 h1, p {
  color: orange;

  padding-bottom: 20px;
}

.cover-text3 h2 {
  font-size: 100%;

  padding-bottom: 20px;
}

/* member reviews */

#reviews div {
  background-color: rgba(0, 0, 0, 0.627);

  font-size: 90%;
  width: 20%;
  height: 300px;
  float: left;

  padding: 30px 0 0 10px;

  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
}

#reviews h2, h4 {
  color: orange;

  padding-bottom: 20px;
}

#reviews h3 {
  font-family: Russo One, sans-serif;
  color: #FEE715FF;

  padding-bottom: 20px;
}

#reviews h5 {
  color: #FEE715FF;
}

/* signup image */

#signup-outer {
  height: 800px;
  width: 100%;
  overflow: visible;
  }

  #signup {
    height: 800px;
    width: 100%;
    background: url('../../images/signup.jpg') no-repeat center center;
    background-size: cover; 
  
    /* enlivens page load with zoom animation */
    animation-name: fight-glove-zoom;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
  }
  
  /* level of zoom for fight glove image */
  
  @keyframes fight-glove-zoom {
    from {
      transform: scale(1.1);
    }
    to{
      transform: scale(1);
    }
  }

  /* sign up form */

  .container {
    margin: 0 auto;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    margin-top: 200px;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

form {
	display: flex;
  flex-direction: column;
}

h1 {
	margin-bottom: 20px;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

p {
	margin-bottom: 10px;
  color: orange;
  font-family: Russo One, sans-serif;
	font-size: 24px;
}

input[type="email"] {
	margin-bottom: 20px;
  color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
  font-family: Open Sans, sans-serif;;
	font-size: 18px;
}

button[type="submit"] {
	background-color: orange;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
  font-family: Russo One, sans-serif;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button[type="submit"]:hover {
	background-color: #ffdb4d;
}