@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  color: #FEE715FF;
  background-color: #1f1f1f;
}

/* headings and logo */

h1, h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FEE715FF;
}

#logo {
  float: left;
  font-size: 500%;
}

/* navigation links */

#menu {
  font-size: 150%;
  letter-spacing: 2px;
}


#menu, #logo {
  line-height: 90px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #36454f;
}

.active {
  border-bottom: 1px solid #36454f;
}

/* fight glove image */

#fight-glove-outer {
  height: 1000px;
  width: 100%;
  overflow: visible;
  }

#fight-glove {
  height: 1000px;
  width: 100%;
  background: url('../../images/fight-glove.jpg') no-repeat center center;
  background-size: cover; 

  /* enlivens page load with zoom animation */
  animation-name: fight-glove-zoom;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

/* level of zoom for fight glove image */
@keyframes fight-glove-zoom {
  from {
    transform: scale(1.1);
  }
  to{
    transform: scale(1);
  }
}