@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Russo+One&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  color: #FEE715FF;
  background-color: black;
}

/* headings and logo */

h1, h2 {
  font-family: Russo One, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FEE715FF;
}

#logo {
  float: left;
  font-size: 400%;
}

/* navigation links */

#menu {
  font-size: 150%;
  letter-spacing: 2px;
}


#menu, #logo {
  line-height: 90px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #36454f;
}

.active {
  border-bottom: 1px solid #36454f;
}

/* fight glove image and cover text */

#fight-glove-outer {
  height: 800px;
  width: 100%;
  overflow: visible;
  }

#cover-text, #cover-text h2 {
    color: #FEE715FF;
}

#fight-glove {
  height: 800px;
  width: 100%;
  background: url('../../images/fight-glove.jpg') no-repeat center center;
  background-size: cover; 

  /* enlivens page load with zoom animation */
  animation-name: fight-glove-zoom;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

/* level of zoom for fight glove image */

@keyframes fight-glove-zoom {
  from {
    transform: scale(1.1);
  }
  to{
    transform: scale(1);
  }
}

/* cover text */

#cover-text {
  font-size: 180%;
  font-family: Russo One, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;

  width: 400px;
  height: 180px;

  padding-top: 30px;
  padding-left: 30px;

  background-color: rgba(0, 0, 0, 0.627);

  bottom: 30px;
  left: 100px;

  position: absolute;
}

/* fight glove h2 and paragraph */

#why-fightglove {
  text-align: center;
  margin: 20px 0;
  font-size: 140%;

  padding-bottom: 20px;
}

#why-fightglove p {
  padding: 20px;
  text-align: justify; 
}

.left{
  width: 45%;
  float: left;
  color: orange; 
 }
  
  .right{
  width: 45%;
  float: right;
  color: orange;  
}

 /* footer */

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #FEE715FF;
}

